<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>La boîte à films</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
  <!-- UiKit JS -->
  <script src="vendor/uikit/js/uikit.min.js"></script>
  <script src="vendor/uikit/js/uikit-icons.min.js"></script>
  <!-- my theme -->
  <link rel="stylesheet" href="eni-theme.css"/>
</head>
<body class="uk-background-width-1-1 eni-landing-page-background">
<div>
  <div>
    <h1 class="eni-landing-title">La Boîte à Films</h1>
  </div>
  <div>
    <p>Restez au courant des dernières sorties</p>
  </div>
  <div>
    <button class="uk-button uk-button-default">Entrer sur le site</button>
  </div>
</div>
</body>
</html>
